<%# Write your code here! %>
<h1>Hi <%= params[:user_name] %>, nice to meet you!</h1>

<!-- Using the Sinatra post method, we create a response for requests to POST '/greet'. 
That response should be the HTML contained in the views/greet.erb template, 
just like the HTML response of our first route was contained in views/index.erb. -->